<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="encoding.plugin.contribution">
         <menu
               label="Encoding Plugin"
               path="additions"
               id="encoding.plugin.menu">
            <separator
                  name="encodinggroup">
            </separator>
         </menu>
         <action
               class="encoding.plugin.popup.actions.ConvertAction"
               enablesFor="+"
               id="encoding.plugin.ConvertAction"
               label="Convert to UTF-8"
               menubarPath="encoding.plugin.menu/encodinggroup"
               style="push">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="encoding.plugin.preferences.EncodingConverterPreferencePage"
            id="encoding.plugin.preferences.EncodingPreferencePage"
            name="Encoding Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="encoding.plugin.preferences.EncodingConverterPreferenceInitializer">
      </initializer>
   </extension>

</plugin>
