<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Eclipse Konfigurator Category"
            id="eclipseconfigurator.commands.category">
      </category>
      <command
            name="Export Konfiguration"
            categoryId="eclipseconfigurator.commands.category"
            id="eclipseconfigurator.commands.ExportCommand">
      </command>
      <command
            name="Import Konfiguration"
            categoryId="eclipseconfigurator.commands.category"
            id="eclipseconfigurator.commands.ImportCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="eclipseconfigurator.commands.ExportCommand"
            class="com.github.funthomas424242.eclipseconfigurator.handlers.ExportHandler">
      </handler>
      <handler
            commandId="eclipseconfigurator.commands.ImportCommand"
            class="com.github.funthomas424242.eclipseconfigurator.handlers.ImportHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eclipseconfigurator.commands.ExportCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+E"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
       <key
            commandId="eclipseconfigurator.commands.ImportCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M3+I"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Eclipse Konfigurator"
               mnemonic="M"
               id="eclipseconfigurator.menus.KonfiguratorMenu">
            <command
                  commandId="eclipseconfigurator.commands.ExportCommand"
                  mnemonic="E"
                  id="eclipseconfigurator.menus.ExportCommand">
            </command>
            <command
                  commandId="eclipseconfigurator.commands.ImportCommand"
                  mnemonic="I"
                  id="eclipseconfigurator.menus.ImportCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="eclipseconfigurator.toolbars.KonfiguratorToolbar">
            <command
                  commandId="eclipseconfigurator.commands.ExportCommand"
                  icon="icons/export16x16.gif"
                  tooltip="Export Konfiguration"
                  id="eclipseconfigurator.toolbars.ExportCommand">
            </command>
            <command
                  commandId="eclipseconfigurator.commands.ImportCommand"
                  icon="icons/import16x16.gif"
                  tooltip="Import Konfiguration"
                  id="eclipseconfigurator.toolbars.ImportCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="eclipseconfigurator.preferences.EclipseConfiguratorPreferencePage"
            id="eclipseconfigurator.preferences.EclipseConfiguratorPreferencePage"
            name="Eclipse Configurator">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="eclipseconfigurator.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
