<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.gh.funthomas424242.workgroup.preferences.WorkgroupPreferencePage"
            id="workgroup.preferences.WorkgroupPreferencePage"
            name="Workgroup Preferences">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferenceTransfer">
         
      <transfer
            icon="icons/workgroup-transfer16x16.ico"
            id="workgroup.transfer.m2e"
            name="[workgroup] m2e configuration">
         <description>
            Export / Import of the m2e Plugin configuration.
         </description>
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.m2e.core">
            </entry>
            <entry
                  node="org.eclipse.m2e.discovery">
            </entry> 
         </mapping>
      </transfer>
      <transfer
            icon="icons/workgroup-transfer16x16.ico"
            id="workgroup.transfer.editors"
            name="[workgroup] editor configuration">
         <description>
            Export / Import of the editor configuration.
         </description>
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.ui.editors">
            </entry>
         </mapping>
      </transfer>
      
      <transfer
            icon="icons/workgroup-transfer16x16.ico"
            id="workgroup.transfer.resources"
            name="[workgroup] resources configuration">
         <description>
            Export / Import of the resources configuration.
         </description>
         <mapping
               scope="instance">
            <entry
                  node="org.eclipse.core.resources">
            </entry>
         </mapping>
      </transfer>
   </extension>

</plugin>
